{% extends "base.html" %}
{% block content %}
<div>
{% if err %}
    <h3>{{ err }}</h3>
{% endif %}

<form action="{% url 'user_page:change_password_func' %}" method="post" class="d-flex flex-column">
    {% csrf_token %}
    <input type="password" name="old_password" placeholder="Old Password" required class="m-1">
    <input type="password" name="new_password" placeholder="New Password" required class="m-1">
    <input type="submit" value="Change Password" class="m-1">   
</form>
<a href="{% url 'user_page:edit_profile' %}">Go Back</a>
</div>
{% endblock %}