{% extends "base.html" %}
{% block content %}
<div class="d-flex flex-column" id="user-index">
<header>
    <h3>Medicare</h3>

    <h2>Welcome {{ name }}</h2>
</header>

<nav class="d-flex flex-row align-items-around m-2">
<a href="{% url 'user_page:edit_profile' %}" class="m-2 p-2 border">Edit Profile</a>

<a href="{% url 'user_page:logout' %}" class="m-2 p-2 border">Logout</a>

<a href="{% url 'medicine:add_med' %}" class="m-2 p-2 border">Add Medicine</a>

<a href="{% url 'medicine:edit_med' %}" class="m-2 p-2 border">Edit Medicines</a>

<a href="{% url 'medicine:del_med' %}" class="m-2 p-2 border">Delete record</a>
</nav>

<div>
<h3>Your Medicines</h3>

<table class="table m-2">
    <thead scope="col">
        <tr>
          <th>Name</th>
          <th>Dosage</th>
          <th>Frequency</th>
        </tr>
    </thead>
    <tbody scope="row">
        {% for medicine in medicines %}
            <tr>
            <td>{{ medicine.med_name }}</td>
            <td>{{ medicine.med_dosage }}</td>
            <td>{{medicine.med_frequency}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}