<h1>Medicare</h1>

<h1>Welcom {{ name }}</h1>

<a href="{% url 'user_page:logout' %}" >Logout</a>

<a href="{% url 'medicine:add_med' %}">Add Medicine</a>

<a href="{% url 'medicine:edit_med' %}">Edit Medicines</a>

<a href="{% url 'medicine:del_med' %}">Delete record</a>

<h3>Your Medicines</h3>

<table border="1">
    <thead>
        <tr>
          <th>Name</th>
          <th>Dosage</th>
          <th>Frequency</th>
        </tr>
    </thead>
    <tbody>
        {% for medicine in medicines %}
            <tr>
            <td>{{ medicine.med_name }}</td>
            <td>{{ medicine.med_dosage }}</td>
            <td>{{medicine.med_frequency}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
    
    