<h2>Add your medicines</h2>

<form action="{% url 'medicine:add_med_func' %}" method="post">
    {% csrf_token %}
    <label for="med_name">Name of the Medicine</label>
    <input type="text" name="med_name" placeholder="Name" required>

    <label for="med_dosage">How much do you wanna take that medicine? (Eg: 100ml)</label>
    <input type="text" name="med_dosage" placeholder="Dosage" required>

    <label for="med_frequency">How often do you wanna take that medicine? (Eg: 1/day)</label>
    <input type="text" name="med_frequency" placeholder="Frequency" required>
    
    <input type="submit" value="Add medicine">
</form>

<a href="{% url 'user_page:user_index' %}">Go Back</a>