{% extends "base.html" %}
{% block content %}
<div>
<h2>Edit your medicines info</h2>

{% for medicine in medicines %}
    <form action="{% url 'medicine:edit_med_func' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="mid" value="{{ medicine.id }}">
        
        <table class="table">
            <thead scope="col">
                <tr>
                <th><label for="med_name">Name of the Medicine</label></th>
                <th><label for="med_dosage">How much do you wanna take that medicine? (Eg: 100ml)</label></th>
                <th><label for="med_frequency">How often do you wanna take that medicine? (Eg: 1/day)</label></th>
                <th></th>
                </tr>
            </thead>
            <tbody scope="row">
                <tr>
                <td><input type="text" name="med_name" placeholder="Name" required value="{{ medicine.med_name }}"></td>
                <td><input type="text" name="med_dosage" placeholder="Dosage" required value="{{ medicine.med_dosage }}"></td>
                <td><input type="text" name="med_frequency" placeholder="Frequency" required value="{{ medicine.med_frequency }}"></td>
                <td><input type="submit" value="Edit medicine info"></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endfor %}

<a href="{% url 'user_page:user_index' %}">Go Back</a>
</div>
{% endblock %}