{% extends "base.html" %}
{% block content %}
<header>
    <h3>Medicare</h3>
    <h2>Welcome to Medicare. A place to keep track of your medical needs!</h2>
    <hr>
</header>

<div id="join-us" class="d-flex justify-content-around flex-wrap">
    {% if err %}
        {{ err }}
    {% endif %}
    
    <form action="{% url 'users:login' %}" method="post" class="d-flex flex-column justify-content-start m-2 p-2 border">
        <h3>Already have an account? Sign In!</h3>
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required class="m-1">
        <input type="password" name="password" placeholder="Password" required class="m-1">
        <input type="submit" value="Sign in" class="m-1">
    </form>
    
    <form action="{% url 'users:register' %}" method="post" class="d-flex flex-column justify-content-start m-2 p-2 border">
        <h3>Don't have an account? Create one!</h3>
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" required class="m-1">
        <input type="text" name="name" placeholder="Name" required class="m-1">
        <input type="password" name="password" placeholder="Password" required class="m-1">
        <input type="submit" value="Sign up" class="m-1">
    </form>
</div>

<div id="contact">
    <form class="d-flex flex-column justify-content-start p-2 border">
        <h3>Have any questions or concerns? Please send us an email!</h3>
        <input type="email" name="email" placeholder="Email" class="m-1">
        <textarea placeholder="Your message" class="m-1"></textarea>
        <input type="submit" value="Send" class="m-1">
    </form>
</div>

<footer>
</footer>
{% endblock %}